html,
body,
#root {
    height: 100%;
    margin: 0;
}

.flex-container {
    width: 700px;
    height: 300px;
    background-color: white;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

   }
  
div {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #DAA520;
    align-self: flex-start;
}

div:nth-child(2),div:nth-child(4)  {
    align-self: center;
}

div:nth-child(3) {
    align-self: flex-end;
}


